<div class="container">
  <div class="row">
    <div class="col"></div>
    <h1 class="my-5">本当に退会しますか？</h1>
    <div class="col"></div>
  </div>
    
  <div class="row mb-5">
    <div class="col"></div>
      <h2 class="text-center">退会すると、会員登録情報や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください</h2>
      <div class="col"></div>
  </div>
  <div class="row mb-5">
    <div class="col"></div>
    <%= link_to "退会しない", customers_my_page_path, :class => "btn btn-primary ms-3 btn-lg mr-5" %>
    <%= link_to "退会する", customers_withdraw_path, method: :patch, :class => "btn btn-danger ms-3 btn-lg ml-5", data: { confirm: "本当に退会しますか？" }  %>
    <div class="col"></div>
  </div>
</div>