<table class="table">
    <th scope="col">ジャンル検索</th>
    <tr><td class="block">ケーキ</td></tr>
    <tr><td class="block">焼き菓子</td></tr>
    <tr><td class="block">プリン</td></tr>
    <tr><td class="block">キャンディ</td></tr>
</table>

<div class="card bg-dark text-white" style="width: 300px; height: auto;">
  <%= image_tag("cake_image.jpg", class: "card-img w-100", alt: "icon image") %>
  <div class="card-img-overlay d-flex">
    <div class="my-auto">
      <p class="card-text">
        ようこそ、ながのCAKEへ！
        このサイトは、ケーキ販売のECサイトになります。
        会員でない方も商品の閲覧はできますが、
        購入には会員登録が必要になります。
      </p>
    </div>
  </div>
</div>

<table>
  <% @items.each do |item| %>
  <div class="product">
<<<<<<< HEAD
    <%= image_tag item.image, size: "250x200" %>
=======
>>>>>>> e2d6eb9 (退会確認画面レイアウト完成)
    <p><%= item.name %></p>
    <p>¥<%= item.price %></p>
  </div>
  <% end %>
</table>
